@import "global.scss";


nav{
    background: #19161B;
    padding: 20px 0px;
    transition: 0.5s;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img{
        margin-right: 30px;
    }

    &__item{
        display: flex;
        align-items: center;

        &__blok{
            display: flex;
            list-style-type: none;

            &_close{
                display: none;
            }


            &__list{
                padding: 0 19.5px;

                &__link{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: capitalize;
                    color: #FFFFFF;

                    &:hover{
                        color: aqua;
                    }
                }

            }
        }
    }

}



.hamburger{
    background-color: #dcecac;
    padding: 10px 15px;
    display: none;   

    &:hover{
        background-color: white;
    }
}
.nav-shrink{
    padding: 25px 0;

}


@media  (max-width: 900px) {

    .navbar__item__blok{
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: 0.5s;

      
        background-color: black;
        height: 100vh;

        &__list__link{
         color: #666666;
         font-size: 30px !important;
         padding: 20px 0px;
         display: inline-block;
        
        } 

        &_close{
            display: block;
            background-color: #19161B;
            color: white;
            width: 70px;
            height: 70px;
            font-size: 50px;
            position: absolute;
            top: 0;
            right: 0;
          

            &:hover{
                background-color: transparent;
                color: red;
            }
           

            
        }
    
    }





    .navbar__top{
        display: none;
    }

    .hamburger{
        display: block;
    } 
}